# –ú–æ–¥—É–ª—å 18. NLP. –ü—Ä–∞–∫—Ç–∏–∫–∞
## –ó–∞–Ω—è—Ç–∏–µ 1. –ó–∞–¥–∞–Ω–∏—è
### –û–±—â–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è

#### –¶–µ–ª—å –∑–∞–¥–∞–Ω–∏–π

* –û—Å–≤–æ–∏—Ç—å –±–∞–∑–æ–≤—ã–π —Å–∏–Ω—Ç–∞–∫—Å–∏—Å —Ä–µ–≥—É–ª—è—Ä–Ω—ã—Ö –≤—ã—Ä–∞–∂–µ–Ω–∏–π.
* –ù–∞—É—á–∏—Ç—å—Å—è –ø—Ä–∏–º–µ–Ω—è—Ç—å —Ä–µ–≥—É–ª—è—Ä–Ω—ã–µ –≤—ã—Ä–∞–∂–µ–Ω–∏—è –≤ —Ä–∞–∑–Ω—ã—Ö –∑–∞–¥–∞—á–∞—Ö –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö.
* –ù–∞—É—á–∏—Ç—å—Å—è –ø—Ä–∏–º–µ–Ω—è—Ç—å —Ä–µ–≥—É–ª—è—Ä–Ω—ã–µ –≤—ã—Ä–∞–∂–µ–Ω–∏—è —Å–æ–≤–º–µ—Å—Ç–Ω–æ —Å –±–∏–±–ª–∏–æ—Ç–µ–∫–æ–π Pandas.

–ó–∞–¥–∞–Ω–∏—è –Ω–µ –Ω—É–∂–Ω–æ —Å–¥–∞–≤–∞—Ç—å –Ω–∞ –ø—Ä–æ–≤–µ—Ä–∫—É: –æ–±—è–∑–∞—Ç–µ–ª—å–Ω—ã—Ö –∏ –Ω–µ–æ–±—è–∑–∞—Ç–µ–ª—å–Ω—ã—Ö –∑–∞–¥–∞—á –Ω–µ—Ç, –≤—Å–µ –æ–Ω–∏ —Ñ–∞–∫—É–ª—å—Ç–∞—Ç–∏–≤–Ω—ã–µ. –û–¥–Ω–∞–∫–æ –º—ã —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ–º —Ä–µ—à–∏—Ç—å –∏—Ö, —á—Ç–æ–±—ã –ø–æ—Ç—Ä–µ–Ω–∏—Ä–æ–≤–∞—Ç—å—Å—è.

–ö –∑–∞–Ω—è—Ç–∏—é –ø—Ä–∏–ª–æ–∂–µ–Ω —Ñ–∞–π–ª `captions_csv2.csv` —Å –ø–æ–¥–ø–∏—Å—è–º–∏ –∫ —Ñ–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è–º –≤ –æ–¥–Ω–æ–π `—Å–æ—Ü–∏–∞–ª—å–Ω–æ–π —Å–µ—Ç–∏`. –°–∫–∞—á–∞–π—Ç–µ –µ–≥–æ –Ω–∞ –∫–æ–º–ø—å—é—Ç–µ—Ä. 


### –ó–∞–¥–∞—á–∞ 1
–í –ø–æ–¥–ø–∏—Å—è—Ö –∫ —Ñ–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è–º –∏–∑ —Ñ–∞–π–ª–∞ `captions_csv2.csv` –Ω–∞–π–¥–∏—Ç–µ —Ç–æ–ø-10 —Ç–µ–≥–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è —á–∞—â–µ –≤—Å–µ–≥–æ. 
#### –°–æ–≤–µ—Ç—ã –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏
##### –®–∞–≥ 1
–°—á–∏—Ç–∞–π—Ç–µ —Ñ–∞–π–ª `captions_csv2.csv` –≤ Pandas-dataframe `df`.
##### –®–∞–≥ 2
–°–æ–¥–∞–π—Ç–µ –≤ `df` –Ω–æ–≤—É—é –∫–æ–ª–æ–Ω–∫—É `tag`, –∑–∞–ø–∏—à–∏—Ç–µ –≤ –Ω–µ—ë –º–∞—Å—Å–∏–≤—ã —Ç–µ–≥–æ–≤ –∏–∑ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏—Ö –∑–Ω–∞—á–µ–Ω–∏–π –∫–æ–ª–æ–Ω–∫–∏ `caption`. –î–ª—è —ç—Ç–æ–≥–æ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é [apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html), –ø–µ—Ä–µ–¥–∞–≤ –≤ –Ω–µ—ë –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∞—Ä–≥—É–º–µ–Ω—Ç–∞ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â—É—é —Ñ—É–Ω–∫—Ü–∏—é –∏–∑ –ø–∞–∫–µ—Ç–∞ —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–π –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ Python [re](https://docs.python.org/3/library/re.html). 
##### –®–∞–≥ 3
–¢–µ–ø–µ—Ä—å –≤ –∫–æ–ª–æ–Ω–∫–µ `tag` –≤–∞—à–µ–≥–æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ —Å–æ–¥–µ—Ä–∂–∞—Ç—Å—è –º–∞—Å—Å–∏–≤—ã —Ç–µ–≥–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –≤—ã ¬´–∏–∑–≤–ª–µ–∫–ª–∏¬ª –∏–∑ —Ç–µ–∫—Å—Ç–æ–≤ —Å –æ–ø–∏—Å–∞–Ω–∏—è–º–∏. –ü—Ä–∏–º–µ—Ä–Ω–æ —Ç–∞–∫:

|id|tag|
|--|---|
|20516|[#stayhomeclub]|
|20517|[#KatyPursey, #StayHome, #ShoesdayTuesday]|
|20518|[]|
|...|...|

–í–∞–º –Ω—É–∂–Ω–æ ¬´—Ä–∞—Å–ø–∞–∫–æ–≤–∞—Ç—å¬ª –º–∞—Å—Å–∏–≤—ã —Ç–µ–≥–æ–≤ —Ç–∞–∫, —á—Ç–æ–±—ã –∫–∞–∂–¥–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫–æ–ª–æ–Ω–∫–∏ `tag` —Å–æ–¥–µ—Ä–∂–∞–ª–æ —Ç–æ–ª—å–∫–æ –æ–¥–∏–Ω —Ç–µ–≥. –î—Ä—É–≥–∏–º–∏ —Å–ª–æ–≤–∞–º–∏, –ø—Ä–µ–æ–±—Ä–∞–∑–æ–≤–∞—Ç—å –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤ —Å–ª–µ–¥—É—é—â–∏–π –≤–∏–¥:

|id|tag|
|--|---|
|20516|#stayhomeclub|
|20517|#KatyPursey|
|20517|#StayHome|
|20517|#ShoesdayTuesday|
|...|...|

–≠—Ç–æ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –ø–æ-—Ä–∞–∑–Ω–æ–º—É. –ú—ã —Ä–µ–∫–æ–º–µ–Ω–¥—É–µ–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å Pandas-—Ñ—É–Ω–∫—Ü–∏—é [explode](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.explode.html) (–∏ –Ω–µ –∑–∞–±—É–¥—å—Ç–µ —É–¥–∞–ª–∏—Ç—å —Å—Ç—Ä–æ–∫–∏ —Å–æ –∑–Ω–∞—á–µ–Ω–∏—è–º–∏ NaN). –°–æ—Ö—Ä–∞–Ω–∏—Ç–µ ¬´—Ä–∞—Å–ø–∞–∫–æ–≤–∞–Ω–Ω—ã–µ¬ª –¥–∞–Ω–Ω—ã–µ –≤ –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `id2tag` (–≤–∞–º –ø–æ–Ω–∞–¥–æ–±—è—Ç—Å—è —Ç–æ–ª—å–∫–æ –∫–æ–ª–æ–Ω–∫–∏ `id` –∏ `tag`). –ö—Å—Ç–∞—Ç–∏, —Ç–∞–∫—É—é ¬´—Ä–∞—Å–ø–∞–∫–æ–≤–∫—É¬ª –º–∞—Å—Å–∏–≤–æ–≤ –º–æ–∂–Ω–æ —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞—Ç—å –∫–∞–∫ –ø—Ä–∏–≤–µ–¥–µ–Ω–∏–µ –æ—Ç–Ω–æ—à–µ–Ω–∏—è [–∫ –ø–µ—Ä–≤–æ–π –Ω–æ—Ä–º–∞–ª—å–Ω–æ–π —Ñ–æ—Ä–º–µ](https://ru.wikipedia.org/wiki/%D0%9F%D0%B5%D1%80%D0%B2%D0%B0%D1%8F_%D0%BD%D0%BE%D1%80%D0%BC%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_%D1%84%D0%BE%D1%80%D0%BC%D0%B0).
##### –®–∞–≥ 4
–ù–∞–π–¥–∏—Ç–µ —Ç–æ–ø-10 —Ç–µ–≥–æ–≤, –∫–æ—Ç–æ—Ä—ã–µ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è —á–∞—â–µ –≤—Å–µ–≥–æ.

In [26]:
import re

import pandas as pd

#
# –í–∞—à –∫–æ–¥ –∑–¥–µ—Å—å
#

df = pd.read_csv('captions_csv2.csv', header=None)
df.columns = ['id', 'image', 'caption']
df

,id,image,caption
0,20516,img2/insta20516,wHaT dAy Is It Even #stayhomeclub
1,20517,img2/insta20517,Vitamin C for your fashion diet #KatyPursey #S...
2,20518,img2/insta20518,do you know the hotter the fire the purer the ...
3,20519,img2/insta20519,@ryanseacrest üëçüèª
4,20520,img2/insta20520,working hard or hardly working idk ü§∑üèº‚Äç‚ôÄÔ∏è
...,...,...,...
14407,34923,img2/insta34923,Mexican vegan pizza I made from scratch. Meat ...
14408,34924,img2/insta34924,Hummm....Can u spot the error?
14409,34925,img2/insta34925,Snuggling with the dry cleaning
14410,34926,img2/insta34926,Morning practice
14411,34927,img2/insta34927,Up up and away!!!

In [27]:
reg_tag = re.compile('#\w+')
df['tag'] = df['caption'].apply(lambda x: reg_tag.findall(x))

In [28]:
id2tag = df[['id', 'tag']].explode('tag').dropna()

In [29]:
id2tag

          id               tag
0      20516     #stayhomeclub
1      20517       #KatyPursey
1      20517         #StayHome
1      20517  #ShoesdayTuesday
5      20521  #ShoesdayTuesday
...      ...               ...
14382  34898           #jetlag
14383  34899             #geek
14384  34900       #bestoutfit
14386  34902    #ToePointQueen
14403  34919    #winfromwithin

[12727 rows x 2 columns]

In [30]:
id2tag['tag'].value_counts()[:10]

tag
#StriveForGreatness    154
#Repost                 61
#love                   53
#TBT                    45
#LOVE                   44
#TheBoyNextDoor         40
#shadesofblue           37
#FENTYxPUMA             33
#JLoVegas               33
#repost                 32
Name: count, dtype: int64

### –ó–∞–¥–∞—á–∞ 2

–ù–∞–π–¥–∏—Ç–µ –Ω–æ–º–µ—Ä (id) –ø–æ–¥–ø–∏—Å–∏, –∫–æ—Ç–æ—Ä–∞—è —Å–æ–¥–µ—Ä–∂–∏—Ç –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ç–µ–≥–æ–≤. –í—ã–≤–µ–¥–∏—Ç–µ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â—É—é –ø–æ–¥–ø–∏—Å—å –Ω–∞ —ç–∫—Ä–∞–Ω. –ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `id2tag`, —Å–æ–∑–¥–∞–Ω–Ω—ã–π –≤ –ø—Ä–µ–¥—ã–¥—É—â–µ–π –∑–∞–¥–∞—á–µ.

In [31]:
#
# –í–∞—à –∫–æ–¥ –∑–¥–µ—Å—å
#
id2tag['id'].value_counts()[:1]

id
29080    17
Name: count, dtype: int64

In [32]:
df[df['id'] == 29080]['caption']

8564    #feeling#good#after#2months#atlast#i#am#fit#n#...
Name: caption, dtype: object

### –ó–∞–¥–∞—á–∞ 3

–ù–∞ –æ—Å–Ω–æ–≤–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `id2tag` —Å–æ–∑–¥–∞–π—Ç–µ –Ω–æ–≤—ã–π –¥–∞—Ç–∞—Ñ—Ä–µ–π–º, –≤ –∫–æ—Ç–æ—Ä—ã–π –≤–æ–π–¥—É—Ç –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ `id2tag`. –í –∑–Ω–∞—á–µ–Ω–∏—è—Ö `tag` —ç—Ç–∏—Ö —Å—Ç—Ä–æ–∫ –¥–æ–ª–∂–Ω—ã —Å–æ–¥–µ—Ä–∂–∞—Ç—å—Å—è —Ç–µ–≥–∏, –Ω–∞—á–∏–Ω–∞—é—â–∏–µ—Å—è –∏ –∑–∞–∫–∞–Ω—á–∏–≤–∞—é—â–∏–µ—Å—è —Ü–∏—Ñ—Ä–æ–π (–¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏ —ç—Ç–æ–≥–æ —Å–≤–æ–π—Å—Ç–≤–∞ –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Ä–µ–≥—É–ª—è—Ä–Ω–æ–µ –≤—ã—Ä–∞–∂–µ–Ω–∏–µ).  
#### –†–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –ø–æ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é
##### –®–∞–≥ 1
–°–æ–∑–¥–∞–π—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é `regex_filter`, –∫–æ—Ç–æ—Ä–∞—è –ø—Ä–∏–Ω–∏–º–∞–µ—Ç –µ–¥–∏–Ω—Å—Ç–≤–µ–Ω–Ω—ã–π –∞—Ä–≥—É–º–µ–Ω—Ç ‚Äì —Ç–µ–≥ –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç `True`, –µ—Å–ª–∏ —Ç–µ–≥ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç —à–∞–±–ª–æ–Ω—É (–Ω–∞—á–∏–Ω–∞–µ—Ç—Å—è –∏ –∑–∞–∫–∞–Ω—á–∏–≤–∞–µ—Ç—Å—è —Ü–∏—Ñ—Ä–æ–π),  –∏ `False` ‚Äì –≤ –ø—Ä–æ—Ç–∏–≤–Ω–æ–º —Å–ª—É—á–∞–µ.
##### –®–∞–≥ 2
–î–ª—è –∫–æ–ª–æ–Ω–∫–∏ `tag` –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–∞ `id2tag` –≤—ã–∑–æ–≤–∏—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é [apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html), –≤ –∫–∞—á–µ—Å—Ç–≤–µ –∞—Ä–≥—É–º–µ–Ω—Ç–∞ –∫–æ—Ç–æ—Ä–æ–π –ø–µ—Ä–µ–¥–∞–π—Ç–µ —Ñ—É–Ω–∫—Ü–∏—é `regex_filter`.
##### –®–∞–≥ 3
–ò—Å–ø–æ–ª—å–∑—É–π—Ç–µ pandas-series, —Å–æ—Å—Ç–æ—è—â–∏–π –∏–∑ `True`/`False`, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–ª—É—á–µ–Ω –Ω–∞ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —à–∞–≥–µ, –≤ –∫–∞—á–µ—Å—Ç–≤–µ —Ñ–∏–ª—å—Ç—Ä–∞ –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ `id2tag`.

In [57]:
reg_filter = re.compile('#\d+[a-zA-Z]+\d+$')
def regex_filter(x):    
    return len(reg_filter.findall(x)) > 0

In [58]:
dec_series = id2tag['tag'].apply(regex_filter)

In [59]:
id2tag_dec = id2tag[dec_series]
id2tag_dec

          id            tag
8605   29121  #3DaysToSOTY2
9607   30123  #4daystosoty2
13388  33904       #330x216

### –ó–∞–¥–∞—á–∞ 4
–ö—Ä–æ–º–µ —Ç–µ–≥–æ–≤, –≤ –ø–æ–¥–ø–∏—Å—è—Ö –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è –¥—Ä—É–≥–∞—è –∫–æ–Ω—Å—Ç—Ä—É–∫—Ü–∏—è: –∏–º–µ–Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π. –ò–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è –ø–æ—Ö–æ–∂–µ –Ω–∞ —Ç–µ–≥, –Ω–æ –≤ –æ—Ç–ª–∏—á–∏–µ –æ—Ç –Ω–µ–≥–æ –ø—Ä–µ–¥–≤–∞—Ä—è–µ—Ç—Å—è —Å–∏–º–≤–æ–ª–æ–º `—Å–æ–±–∞—á–∫–∞` (`@`), –∞ –Ω–µ —Ä–µ—à—ë—Ç–∫–æ–π. –í –æ–¥–Ω–æ–π –ø–æ–¥–ø–∏—Å–∏ –º–æ–∂–µ—Ç –±—ã—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ —Ç–µ–≥–æ–≤ –∏ –Ω–µ—Å–∫–æ–ª—å–∫–æ –∏–º—ë–Ω –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –º–æ–≥—É—Ç –±—ã—Ç—å —Ç–æ–ª—å–∫–æ —Ç–µ–≥–∏ –∏–ª–∏ –∏–º–µ–Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∞ –º–æ–∂–µ—Ç –Ω–µ –±—ã—Ç—å –Ω–∏ —Ç–æ–≥–æ –Ω–∏ –¥—Ä—É–≥–æ–≥–æ. –í –∑–∞–¥–∞—á–µ 4 –≤–∞–º –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Å–ª–µ–¥—É—é—â–µ–µ:  
1. –ù–∞–π—Ç–∏ —Ç–µ–≥, —Å –∫–æ—Ç–æ—Ä—ã–º —É–ø–æ—Ç—Ä–µ–±–ª—è–µ—Ç—Å—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–º—ë–Ω –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (–≤–æ –≤—Å–µ—Ö –ø–æ–¥–ø–∏—Å—è—Ö –¥–∞—Ç–∞—Å–µ—Ç–∞). –î—Ä—É–≥–∏–º–∏ —Å–ª–æ–≤–∞–º–∏: –≤–∑—è—Ç—å —Ç–µ–≥, –Ω–∞–π—Ç–∏ –≤—Å–µ –ø–æ–¥–ø–∏—Å–∏, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –æ–Ω –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è, –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∏–º–µ–Ω –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å–æ–¥–µ—Ä–∂–∞—Ç `–≤—Å–µ` —ç—Ç–∏ –ø–æ–¥–ø–∏—Å–∏. –í—ã –ø–æ–ª—É—á–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –≤—Å—Ç—Ä–µ—á–∞–ª–∏—Å—å –≤ –ø–æ–¥–ø–∏—Å—è—Ö –≤ –ø–∞—Ä–µ —Å —ç—Ç–∏–º —Ç–µ–≥–æ–º. –ü—Ä–æ–¥–µ–ª–∞–π—Ç–µ —ç—Ç—É –æ–ø–µ—Ä–∞—Ü–∏—é –¥–ª—è –≤—Å–µ—Ö —Ç–µ–≥–æ–≤, –ø–æ—Ç–æ–º –≤—ã–±–µ—Ä–∏—Ç–µ —Ç–æ—Ç, –∫–æ—Ç–æ—Ä—ã–π –≤—Å—Ç—Ä–µ—á–∞–ª—Å—è –≤ –ø–∞—Ä–µ —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π. 
1. –û–±—Ä–∞—Ç–Ω–∞—è –∑–∞–¥–∞—á–∞: –Ω–∞–π—Ç–∏ –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –∫–æ—Ç–æ—Ä–æ–µ –≤—Å—Ç—Ä–µ—á–∞–ª–æ—Å—å –≤ –ø–∞—Ä–µ —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ç–µ–≥–æ–≤ (–≤–æ –≤—Å–µ—Ö –ø–æ–¥–ø–∏—Å—è—Ö –¥–∞—Ç–∞—Å–µ—Ç–∞).
1. –í–∑—è—Ç—å –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã –Ω–∞—à–ª–∏ –Ω–∞ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —à–∞–≥–µ, –∏ –≤—ã–≤–µ—Å—Ç–∏ —Ç–æ–ø-10 —Ç–µ–≥–æ–≤ (–ø–æ —á–∞—Å—Ç–æ—Ç–µ –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏), –∫–æ—Ç–æ—Ä—ã–µ –≤—Å—Ç—Ä–µ—á–∞–ª–∏—Å—å –≤ –ø–∞—Ä–µ —Å —ç—Ç–∏–º –∏–º–µ–Ω–µ–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è.
#### –°–æ–≤–µ—Ç—ã –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏
–¢–µ–≥–∏ –∏ –∏–º–µ–Ω–∞ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –≤ –ø–æ–¥–ø–∏—Å—è—Ö –æ–±—Ä–∞–∑—É—é—Ç –æ—Ç–Ω–æ—à–µ–Ω–∏–µ ¬´–º–Ω–æ–≥–∏–µ –∫–æ –º–Ω–æ–≥–∏–º¬ª, –∏ –≤–∞–º –Ω—É–∂–Ω–æ –≤—ã–ø–æ–ª–Ω–∏—Ç—å –Ω–µ—Å–∫–æ–ª—å–∫–æ ¬´–∑–∞–ø—Ä–æ—Å–æ–≤¬ª –≤ —ç—Ç–æ –æ—Ç–Ω–æ—à–µ–Ω–∏–µ. –≠—Ç–æ –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å —Ä–∞–∑–Ω—ã–º–∏ —Å–ø–æ—Å–æ–±–∞–º–∏, –æ–¥–Ω–∏–º –∏–∑ –Ω–∞–∏–±–æ–ª–µ–µ —É–¥–æ–±–Ω—ã—Ö –≤–∏–¥–∏—Ç—Å—è –æ–ø–∏—Å–∞–Ω–Ω—ã–π –Ω–∏–∂–µ.  
##### –®–∞–≥ 1
–°–æ–∑–¥–∞–π—Ç–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `id2user` –ø–æ –∞–Ω–∞–ª–æ–≥–∏–∏ —Å —Ç–µ–º, –∫–∞–∫ —Å–æ–∑–¥–∞–≤–∞–ª–∏ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `id2tag`. –ü–µ—Ä–≤—ã–º —Å—Ç–æ–ª–±—Ü–æ–º –≤ —ç—Ç–æ–º –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ –¥–æ–ª–∂–µ–Ω –±—ã—Ç—å –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –ø–æ–¥–ø–∏—Å–∏, –∞ –≤—Ç–æ—Ä—ã–º ‚Äì –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è (–¥–ª—è –µ–≥–æ –∏–∑–≤–ª–µ—á–µ–Ω–∏—è –∏—Å–ø–æ–ª—å–∑—É–π—Ç–µ —Ä–µ–≥—É–ª—è—Ä–Ω–æ–µ –≤—ã—Ä–∞–∂–µ–Ω–∏–µ), –∫–æ—Ç–æ—Ä–æ–µ –≤—Å—Ç—Ä–µ—á–∞–ª–æ—Å—å –≤ –ø–æ–¥–ø–∏—Å–∏ —Å —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏–º –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä–æ–º. –ò–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã –ø–æ–¥–ø–∏—Å–µ–π –º–æ–≥—É—Ç –ø–æ–≤—Ç–æ—Ä—è—Ç—å—Å—è, —É–∫–∞–∑—ã–≤–∞—è –Ω–∞ —Ç–æ, —á—Ç–æ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∞—è –ø–æ–¥–ø–∏—Å—å –≤–∫–ª—é—á–∞–µ—Ç –Ω–µ—Å–∫–æ–ª—å–∫–æ –∏–º—ë–Ω –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π.
##### –®–∞–≥ 2
–°–æ–∑–¥–∞–π—Ç–µ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º `full_df`, –∫–æ—Ç–æ—Ä—ã–π –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è–µ—Ç —Å–æ–±–æ–π `inner join` –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤ `id2tag` –∏ `id2user` –ø–æ –∫–æ–ª–æ–Ω–∫–µ `id`. –í–æ—Å–ø–æ–ª—å–∑—É–π—Ç–µ—Å—å —Ñ—É–Ω–∫—Ü–∏–µ–π [pandas merge](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html). –¢–∞–∫–∏–º –æ–±—Ä–∞–∑–æ–º, –∫–∞–∂–¥–∞—è —Å—Ç—Ä–æ–∫–∞ `full_df` –±—É–¥–µ—Ç —Å–æ—Å—Ç–æ—è—Ç—å –∏–∑ –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä–∞ –ø–æ–¥–ø–∏—Å–∏ –∏ –ø–∞—Ä—ã {—Ç–µ–≥, –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è}, –∫–æ—Ç–æ—Ä—ã–µ –≤—Å—Ç—Ä–µ—á–∞–ª–∏—Å—å –≤–º–µ—Å—Ç–µ –≤ —ç—Ç–æ–π –ø–æ–¥–ø–∏—Å–∏.
##### –®–∞–≥ 3
–ò—Å–ø–æ–ª—å–∑—É—è —Ñ—É–Ω–∫—Ü–∏–∏ Pandas, –≤—ã–ø–æ–ª–Ω–∏—Ç–µ –ø–æ–¥–∑–∞–¥–∞—á—É 1.
##### –®–∞–≥ 4
–ò—Å–ø–æ–ª—å–∑—É—è —Ñ—É–Ω–∫—Ü–∏–∏ Pandas, –≤—ã–ø–æ–ª–Ω–∏—Ç–µ –ø–æ–¥–∑–∞–¥–∞—á—É 2.
##### –®–∞–≥ 5
–ò—Å–ø–æ–ª—å–∑—É—è —Ñ—É–Ω–∫—Ü–∏–∏ Pandas, –≤—ã–ø–æ–ª–Ω–∏—Ç–µ –ø–æ–¥–∑–∞–¥–∞—á—É 3.

In [60]:
#
# –í–∞—à –∫–æ–¥ –∑–¥–µ—Å—å
#
reg_tag = re.compile('@\w+')
df['users'] = df['caption'].apply(lambda x: reg_tag.findall(x))

In [61]:
df

,id,image,caption,tag,users
0,20516,img2/insta20516,wHaT dAy Is It Even #stayhomeclub,[#stayhomeclub],[]
1,20517,img2/insta20517,Vitamin C for your fashion diet #KatyPursey #S...,"[#KatyPursey, #StayHome, #ShoesdayTuesday]",[@katyperrycollections]
2,20518,img2/insta20518,do you know the hotter the fire the purer the ...,[],[]
3,20519,img2/insta20519,@ryanseacrest üëçüèª,[],[@ryanseacrest]
4,20520,img2/insta20520,working hard or hardly working idk ü§∑üèº‚Äç‚ôÄÔ∏è,[],[]
...,...,...,...,...,...
14407,34923,img2/insta34923,Mexican vegan pizza I made from scratch. Meat ...,[],[]
14408,34924,img2/insta34924,Hummm....Can u spot the error?,[],[]
14409,34925,img2/insta34925,Snuggling with the dry cleaning,[],[]
14410,34926,img2/insta34926,Morning practice,[],[]
14411,34927,img2/insta34927,Up up and away!!!,[],[]

In [62]:
id2user = df[['id', 'users']].explode('users').dropna()
id2user

          id                  users
1      20517  @katyperrycollections
3      20519          @ryanseacrest
5      20521  @katyperrycollections
6      20522  @katyperrycollections
7      20523            @vogueindia
...      ...                    ...
14391  34907       @serenastatement
14391  34907          @Hsn_official
14394  34910              @Gatorade
14399  34915             @valgabond
14402  34918            @DjokerNole

[6761 rows x 2 columns]

In [64]:
full_df = pd.merge(left=id2tag, right=id2user, on='id')
full_df

         id                     tag                  users
0     20517             #KatyPursey  @katyperrycollections
1     20517               #StayHome  @katyperrycollections
2     20517        #ShoesdayTuesday  @katyperrycollections
3     20521        #ShoesdayTuesday  @katyperrycollections
4     20522  #ProtectYourEnergy2020  @katyperrycollections
...     ...                     ...                    ...
6314  34880         #friendsforever           @natilarocks
6315  34880         #friendsforever         @carowozniacki
6316  34882                 #selfie            @Varunchik1
6317  34892                  #yummy             @jugofresh
6318  34894               #wigparty             @bigsascha

[6319 rows x 3 columns]

–ù–∞–π—Ç–∏ —Ç–µ–≥, —Å –∫–æ—Ç–æ—Ä—ã–º —É–ø–æ—Ç—Ä–µ–±–ª—è–µ—Ç—Å—è –º–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–º—ë–Ω –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π (–≤–æ –≤—Å–µ—Ö –ø–æ–¥–ø–∏—Å—è—Ö –¥–∞—Ç–∞—Å–µ—Ç–∞). –î—Ä—É–≥–∏–º–∏ —Å–ª–æ–≤–∞–º–∏: –≤–∑—è—Ç—å —Ç–µ–≥, –Ω–∞–π—Ç–∏ –≤—Å–µ –ø–æ–¥–ø–∏—Å–∏, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –æ–Ω –≤—Å—Ç—Ä–µ—á–∞–µ—Ç—Å—è, –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å, —Å–∫–æ–ª—å–∫–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∏–º–µ–Ω –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π —Å–æ–¥–µ—Ä–∂–∞—Ç –≤—Å–µ —ç—Ç–∏ –ø–æ–¥–ø–∏—Å–∏. –í—ã –ø–æ–ª—É—á–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –≤—Å—Ç—Ä–µ—á–∞–ª–∏—Å—å –≤ –ø–æ–¥–ø–∏—Å—è—Ö –≤ –ø–∞—Ä–µ —Å —ç—Ç–∏–º —Ç–µ–≥–æ–º. –ü—Ä–æ–¥–µ–ª–∞–π—Ç–µ —ç—Ç—É –æ–ø–µ—Ä–∞—Ü–∏—é –¥–ª—è –≤—Å–µ—Ö —Ç–µ–≥–æ–≤, –ø–æ—Ç–æ–º –≤—ã–±–µ—Ä–∏—Ç–µ —Ç–æ—Ç, –∫–æ—Ç–æ—Ä—ã–π –≤—Å—Ç—Ä–µ—á–∞–ª—Å—è –≤ –ø–∞—Ä–µ —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π.

In [72]:
t1 = full_df.groupby(by='tag', as_index=False).agg({'users': 'count'})
t1

                      tag  users
0                      #1     10
1     #100mostinfluential      2
2                 #10Days      2
3                 #10togo      1
4                   #11th      1
...                   ...    ...
2579   #zeecineawards2017      1
2580                 #zil      1
2581         #zuhairmurad      1
2582                #zulu      1
2583                 #‡§π‡§Æ‡§≤      1

[2584 rows x 2 columns]

In [75]:
t1.loc[t1['users'].argmax()]

tag      #Repost
users        107
Name: 1075, dtype: object

In [76]:
full_df[full_df['tag']=='#Repost']

         id      tag                  users
73    20730  #Repost        @sweetbabyjamie
82    20747  #Repost  @katyperrycollections
91    20773  #Repost        @sweetbabyjamie
92    20773  #Repost          @off____white
107   20834  #Repost        @hillaryclinton
...     ...      ...                    ...
6228  34712  #Repost             @repostapp
6248  34733  #Repost        @carlenekmakeup
6249  34733  #Repost             @repostapp
6250  34733  #Repost        @serenawilliams
6251  34733  #Repost         @nicolescherzy

[107 rows x 3 columns]

–û–±—Ä–∞—Ç–Ω–∞—è –∑–∞–¥–∞—á–∞: –Ω–∞–π—Ç–∏ –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –∫–æ—Ç–æ—Ä–æ–µ –≤—Å—Ç—Ä–µ—á–∞–ª–æ—Å—å –≤ –ø–∞—Ä–µ —Å –º–∞–∫—Å–∏–º–∞–ª—å–Ω—ã–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö —Ç–µ–≥–æ–≤ (–≤–æ –≤—Å–µ—Ö –ø–æ–¥–ø–∏—Å—è—Ö –¥–∞—Ç–∞—Å–µ—Ç–∞).

In [77]:
t2 = full_df.groupby(by='users', as_index=False).agg({'tag': 'count'})
t2

                     users  tag
0                    @032C   14
1                    @032c    8
2              @1027kiisfm    1
3              @106andpark    3
4           @1maryphillips   16
...                    ...  ...
1391            @zingazooo    1
1392  @zuhairmuradofficial    6
1393   @zuhairmuradprivate    1
1394           @zuluroyals    3
1395              @zun_hut    1

[1396 rows x 2 columns]

In [78]:
t2.loc[t2['tag'].argmax()]

users    @gomillionandleupold
tag                       135
Name: 542, dtype: object

In [79]:
full_df[full_df['users']=='@gomillionandleupold']

         id              tag                 users
1289  24062  #TheBoyNextDoor  @gomillionandleupold
1291  24062       #January23  @gomillionandleupold
1293  24062      #ThisFriday  @gomillionandleupold
1295  24062        #CantWait  @gomillionandleupold
1297  24063  #TheBoyNextDoor  @gomillionandleupold
...     ...              ...                   ...
5309  32262          #safari  @gomillionandleupold
5310  32262     #southAfrica  @gomillionandleupold
5313  32280     #southafrica  @gomillionandleupold
5314  32281     #SouthAfrica  @gomillionandleupold
5315  32281        #Capetown  @gomillionandleupold

[135 rows x 3 columns]

–í–∑—è—Ç—å –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã –Ω–∞—à–ª–∏ –Ω–∞ –ø—Ä–µ–¥—ã–¥—É—â–µ–º —à–∞–≥–µ, –∏ –≤—ã–≤–µ—Å—Ç–∏ —Ç–æ–ø-10 —Ç–µ–≥–æ–≤ (–ø–æ —á–∞—Å—Ç–æ—Ç–µ –≤—Å—Ç—Ä–µ—á–∞–µ–º–æ—Å—Ç–∏), –∫–æ—Ç–æ—Ä—ã–µ –≤—Å—Ç—Ä–µ—á–∞–ª–∏—Å—å –≤ –ø–∞—Ä–µ —Å —ç—Ç–∏–º –∏–º–µ–Ω–µ–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è.

In [80]:
full_df[full_df['users']=='@gomillionandleupold']['tag'].value_counts()[:10]

tag
#JLoBTS            18
#JLoAKA             9
#Greece             9
#JLoiHeartRadio     7
#Ultimate           6
#PoolParty          6
#JLoPhotos          6
#DownloadJLoAKA     6
#JLoAtFoxWoods      5
#January23          4
Name: count, dtype: int64

## –ó–∞–Ω—è—Ç–∏–µ 1 / –†–µ—à–µ–Ω–∏—è

### –ó–∞–¥–∞—á–∞ 1

In [ ]:
import re

import pandas as pd

### –®–ê–ì 1

# –ó–∞–º–µ–Ω–∏—Ç–µ –ø—É—Ç—å –∫ —Ñ–∞–π–ª—É captions_csv2.csv –Ω–∞ –≤–∞—à
df = pd.read_csv('data/skillbox/ml_jun18/captions_csv2.csv', names=['id', 'link', 'caption'])

df.head()

      id             link                                            caption
0  20516  img2/insta20516                  wHaT dAy Is It Even #stayhomeclub
1  20517  img2/insta20517  Vitamin C for your fashion diet #KatyPursey #S...
2  20518  img2/insta20518  do you know the hotter the fire the purer the ...
3  20519  img2/insta20519                                   @ryanseacrest üëçüèª
4  20520  img2/insta20520           working hard or hardly working idk ü§∑üèº‚Äç‚ôÄÔ∏è

In [ ]:
### –®–ê–ì 2

pattern = re.compile('#\w+')

df['tag'] = df['caption'].apply(pattern.findall)

df.head()

,id,link,caption,tag
0,20516,img2/insta20516,wHaT dAy Is It Even #stayhomeclub,[#stayhomeclub]
1,20517,img2/insta20517,Vitamin C for your fashion diet #KatyPursey #S...,"[#KatyPursey, #StayHome, #ShoesdayTuesday]"
2,20518,img2/insta20518,do you know the hotter the fire the purer the ...,[]
3,20519,img2/insta20519,@ryanseacrest üëçüèª,[]
4,20520,img2/insta20520,working hard or hardly working idk ü§∑üèº‚Äç‚ôÄÔ∏è,[]

In [ ]:
### –®–ê–ì 3

id2tag = df.explode('tag')[['id', 'tag']].dropna()

id2tag.head()

      id               tag
0  20516     #stayhomeclub
1  20517       #KatyPursey
1  20517         #StayHome
1  20517  #ShoesdayTuesday
5  20521  #ShoesdayTuesday

In [ ]:
### –®–ê–ì 4

id2tag['tag'].value_counts().head(10)

#StriveForGreatness    154
#Repost                 61
#love                   53
#TBT                    45
#LOVE                   44
#TheBoyNextDoor         40
#shadesofblue           37
#FENTYxPUMA             33
#JLoVegas               33
#repost                 32
Name: tag, dtype: int64

### –ó–∞–¥–∞—á–∞ 2

In [ ]:
id2tag['id'].value_counts().head(1)

29080    17
Name: id, dtype: int64

In [ ]:
df[df['id'] == 29080]['caption']

8564    #feeling#good#after#2months#atlast#i#am#fit#n#...
Name: caption, dtype: object

### –ó–∞–¥–∞—á–∞ 3

In [ ]:
### –®–ê–ì 1
def regex_filter(tag):
    return bool(re.search('#\d+[a-zA-Z]+\d+$', str(tag)))

### –®–ê–ì 2
flt = id2tag['tag'].apply(regex_filter)
    
### –®–ê–ì 3    
id2tag[flt]

          id            tag
8605   29121  #3DaysToSOTY2
9607   30123  #4daystosoty2
13388  33904       #330x216

### –ó–∞–¥–∞—á–∞ 4

In [ ]:
# –®–ê–ì 1

pattern = re.compile('@\w+')

df['user'] = df['caption'].apply(lambda x: pattern.findall(x))

id2user = df.explode('user')[['id', 'user']].dropna()

id2user.head()

      id                   user
1  20517  @katyperrycollections
3  20519          @ryanseacrest
5  20521  @katyperrycollections
6  20522  @katyperrycollections
7  20523            @vogueindia

In [ ]:
# –®–ê–ì 2

full_df = pd.merge(id2tag, id2user, on='id')

full_df.head()

      id                     tag                   user
0  20517             #KatyPursey  @katyperrycollections
1  20517               #StayHome  @katyperrycollections
2  20517        #ShoesdayTuesday  @katyperrycollections
3  20521        #ShoesdayTuesday  @katyperrycollections
4  20522  #ProtectYourEnergy2020  @katyperrycollections

In [ ]:
# –®–ê–ì 3

full_df.groupby('tag')['user'].nunique().sort_values(ascending=False).head(1)

tag
#Repost    59
Name: user, dtype: int64

In [ ]:
# –®–ê–ì 4

full_df.groupby('user')['tag'].nunique().sort_values(ascending=False).head(1)

user
@fentybeauty    52
Name: tag, dtype: int64

In [ ]:
# –®–ê–ì 5

full_df[full_df['user'] == '@gomillionandleupold']['tag'].value_counts().head(10)

#JLoBTS            18
#JLoAKA             9
#Greece             9
#JLoiHeartRadio     7
#Ultimate           6
#PoolParty          6
#JLoPhotos          6
#DownloadJLoAKA     6
#JLoAtFoxWoods      5
#January23          4
Name: tag, dtype: int64